#### Prepared for Gabor's Data Analysis

### Data Analysis for Business, Economics, and Policy
by Gabor Bekes and  Gabor Kezdi
 
Cambridge University Press 2021

**[gabors-data-analysis.com ](https://gabors-data-analysis.com/)**

 License: Free to share, modify and use for educational purposes. 
 Not to be used for commercial purposes.

### Chapter 05
**CH05A What Likelihood of Loss to Expect on a Stock Portfolio?**

using the sp500 dataset

version 0.91 2021-10-21

In [1]:
import os
import sys
import warnings

import numpy as np
import pandas as pd
from scipy import stats

warnings.filterwarnings("ignore")

In [13]:
sp500 = pd.read_csv("/workspaces/codespaces-jupyter/data/SP500_2006_16_data.csv")
# sp500 = pd.read_csv("https://osf.io/h64z2/download")

In [14]:
sp500

            DATE    VALUE
0     2006-08-25  1295.09
1     2006-08-28  1301.78
2     2006-08-29  1304.28
3     2006-08-30  1304.27
4     2006-08-31  1303.82
...          ...      ...
2606  2016-08-22  2182.64
2607  2016-08-23  2186.90
2608  2016-08-24  2175.44
2609  2016-08-25  2172.47
2610  2016-08-26  2169.04

[2611 rows x 2 columns]

In [15]:
sp500 = sp500.replace("", np.nan).replace("#N/A", np.nan).dropna().reset_index(drop=True)

In [16]:
sp500["pct_return"] = sp500["VALUE"].pct_change() * 100

In [17]:
sp500.loc[1:, "loss5"] = np.where(sp500["pct_return"].dropna() < -5, 1, 0)

In [18]:
sp500

            DATE    VALUE  pct_return  loss5
0     2006-08-25  1295.09         NaN    NaN
1     2006-08-28  1301.78    0.516566    0.0
2     2006-08-29  1304.28    0.192045    0.0
3     2006-08-30  1304.27   -0.000767    0.0
4     2006-08-31  1303.82   -0.034502    0.0
...          ...      ...         ...    ...
2514  2016-08-22  2182.64   -0.056322    0.0
2515  2016-08-23  2186.90    0.195176    0.0
2516  2016-08-24  2175.44   -0.524029    0.0
2517  2016-08-25  2172.47   -0.136524    0.0
2518  2016-08-26  2169.04   -0.157885    0.0

[2519 rows x 4 columns]

In [22]:
# Show rows where loss5 is less than or equal to -5
sp500[sp500["loss5"] == 1]

            DATE    VALUE  pct_return  loss5
526   2008-09-29  1106.39   -8.789705    1.0
532   2008-10-07   996.23   -5.739481    1.0
534   2008-10-09   909.92   -7.616708    1.0
538   2008-10-15   907.84   -9.034980    1.0
543   2008-10-22   896.78   -6.101251    1.0
553   2008-11-05   952.77   -5.267711    1.0
554   2008-11-06   904.88   -5.026397    1.0
558   2008-11-12   852.30   -5.189388    1.0
563   2008-11-19   806.58   -6.115560    1.0
564   2008-11-20   752.44   -6.712291    1.0
570   2008-12-01   816.21   -8.929528    1.0
603   2009-01-20   805.22   -5.281607    1.0
1246  2011-08-08  1119.46   -6.663443    1.0

In [7]:
sp500.loc[1:, "loss5"]

1       0.0
2       0.0
3       0.0
4       0.0
5       0.0
       ...
2514    0.0
2515    0.0
2516    0.0
2517    0.0
2518    0.0
Name: loss5, Length: 2518, dtype: float64

In [ ]:
mean=sp500["loss5"].mean()
H0 = 0.01 #hyposthesiized population mean 
s = sp500["loss5"].std()
n = sp500["loss5"].count()
SE = s/np.sqrt(n)

In [32]:
t_stat = (mean - H0)/SE
t_stat

np.float64(43.17929430924014)

In [6]:
# t-test to show p-value of two sided. One sided p-value is p/2
stats.ttest_1samp(sp500["loss5"], popmean=0.01, nan_policy="omit")

TtestResult(statistic=np.float64(-3.3862058433914672), pvalue=np.float64(0.0007195412199398962), df=np.int64(2517))

In [11]:
sp500["loss5"].mean().round(6)

0.005163